In [34]:
import os
import pandas as pd

In [35]:
data_csv = pd.read_csv('Iris_data_sample.csv')

In [36]:
data_csv

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

### removing the first column with this command data_csv = pd.read_csv('Iris.csv',index_col=0). This makes the first excel column as Index and it wont create an extra index column.

In [37]:
data_csv = pd.read_csv('Iris_data_sample.csv',index_col=0)

In [38]:
data_csv

    SepalLengthCm  SepalWidthCm PetalLengthCm  PetalWidthCm         Species
1             5.1           3.5           1.4           0.2     Iris-setosa
2             4.9           NaN           1.4           0.2             NaN
3             4.7           3.2           1.3           0.2     Iris-setosa
4              ??           3.1           1.5           0.2     Iris-setosa
5               5           3.6           ###           0.2     Iris-setosa
..            ...           ...           ...           ...             ...
146           6.7           3.0           5.2           2.3  Iris-virginica
147           6.3           2.5             5           1.9  Iris-virginica
148           6.5           3.0           5.2           2.0  Iris-virginica
149           6.2           3.4           5.4           2.3  Iris-virginica
150           5.9           3.0           5.1           1.8  Iris-virginica

[150 rows x 5 columns]

### Using na_values to make ??, ### as nan values

In [39]:
data_csv = pd.read_csv('Iris_data_sample.csv',index_col=0,na_values=["??","###"])

#### Using shhet_name because there are several sheets in an excel workbook

In [40]:
data_excel = pd.read_excel('Iris_data_sample.xlsx',sheet_name="Iris_data",index_col=0,na_values=["??","###"],engine='openpyxl')

In [41]:
data_excel

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           NaN            1.4           0.2             NaN
3              4.7           3.2            1.3           0.2     Iris-setosa
4              NaN           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            NaN           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

### Reading a text file

In [42]:
data_text = pd.read_table('Iris_data_sample.txt',sep="\t")

In [43]:
data_text

     "SepalLengthCm" "SepalWidthCm" "PetalLengthCm" "PetalWidthCm" "Species"
0                    1 1 5.1 3.5 1.4 0.2 "Iris-setosa"
1                      2 2 4.9 3 1.4 0.2 "Iris-setosa"
2                    3 3 4.7 3.2 1.3 0.2 "Iris-setosa"
3                    4 4 4.6 3.1 1.5 0.2 "Iris-setosa"
4                      5 5 5 3.6 1.4 0.2 "Iris-setosa"
..                                                 ...
145             146 146 6.7 3 5.2 2.3 "Iris-virginica"
146             147 147 6.3 2.5 5 1.9 "Iris-virginica"
147               148 148 6.5 3 5.2 2 "Iris-virginica"
148           149 149 6.2 3.4 5.4 2.3 "Iris-virginica"
149             150 150 5.9 3 5.1 1.8 "Iris-virginica"

[150 rows x 1 columns]

In [44]:
cars_data = pd.read_csv('toyota.csv',index_col=0,na_values=["??","###","????"])

Doing a shallow Copy of a file

In [45]:
samp = cars_data.copy(deep=False)

### same as samp = cars_data.copy Original dataframe will not get affected. Creates a true copy

In [46]:
samp = cars_data.copy(deep=True)

In [47]:
cars_data.index #To get the index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435],
           dtype='int64', length=1436)

In [48]:
cars_data.columns #ti get all the columns

Index(['Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor', 'Automatic', 'CC',
       'Doors', 'Weight'],
      dtype='object')

In [49]:
cars_data.size #Getting size rowsxcolumns

14360

In [50]:
cars_data.memory_usage() #getting memory usage for each column

Index        11488
Price        11488
Age          11488
KM           11488
FuelType     11488
HP           11488
MetColor     11488
Automatic    11488
CC           11488
Doors        11488
Weight       11488
dtype: int64

In [51]:
cars_data.ndim #getting how many dimensions. here it is just two i.e rows and columns. No of data doesnt matter. 
#it is like to get to a point how many datas are required.

2

In [52]:
cars_data.head(7) # head function returns 5 rows. By default it gives just 5 rows

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,13500,23.0,46986.0,Diesel,90.0,1.0,0,2000,three,1165
1,13750,23.0,72937.0,Diesel,90.0,1.0,0,2000,3,1165
2,13950,24.0,41711.0,Diesel,90.0,NaN,0,2000,3,1165
3,14950,26.0,48000.0,Diesel,90.0,0.0,0,2000,3,1165
4,13750,30.0,38500.0,Diesel,90.0,0.0,0,2000,3,1170
5,12950,32.0,61000.0,Diesel,90.0,0.0,0,2000,3,1170
6,16900,27.0,NaN,Diesel,NaN,NaN,0,2000,3,1245

In [53]:
cars_data.tail(3) #gets the last 5 rows. By default it returns last 5 rows

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
1433,8500,NaN,17016.0,Petrol,86.0,0.0,0,1300,3,1015
1434,7250,70.0,NaN,NaN,86.0,1.0,0,1300,3,1015
1435,6950,76.0,1.0,Petrol,110.0,0.0,0,1600,5,1114

### if you use () you willget error cars.at[row number,column name]

In [54]:
cars_data.at[4,'FuelType'] #

'Diesel'

### iat provides integer based lookup iat(row number, column number)

In [55]:
cars_data.iat[6,7]

2000

### indexing and selecting data

In [56]:
cars_data.loc[:,'FuelType']

0       Diesel
1       Diesel
2       Diesel
3       Diesel
4       Diesel
         ...
1431    Petrol
1432    Petrol
1433    Petrol
1434       NaN
1435    Petrol
Name: FuelType, Length: 1436, dtype: object