In [69]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

pd.options.display.float_format = '{:.2f}'.format
data_crops=pd.read_csv('apy.csv')

data = data_crops.copy()

In [70]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246091 entries, 0 to 246090
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   State_Name     246091 non-null  object
 1   District_Name  246091 non-null  object
 2   Crop_Year      246091 non-null  int64
 3   Season         246091 non-null  object
 4   Crop           246091 non-null  object
 5   Area           246091 non-null  float64
 6   Production     242361 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.1+ MB

In [71]:
data.isnull().sum()

State_Name          0
District_Name       0
Crop_Year           0
Season              0
Crop                0
Area                0
Production       3730
dtype: int64

In [72]:
crops2 = data.dropna(axis=0)

In [73]:
crops2.columns

Index(['State_Name', 'District_Name', 'Crop_Year', 'Season', 'Crop', 'Area',
       'Production'],
      dtype='object')

In [74]:
col = ['State_Name', 'District_Name', 'Crop_Year', 'Season', 'Crop']
crops=crops2.drop(columns=col,axis=1)

In [75]:
crops

            Area  Production
0        1254.00     2000.00
1           2.00        1.00
2         102.00      321.00
3         176.00      641.00
4         720.00      165.00
...          ...         ...
246086    306.00      801.00
246087    627.00      463.00
246088    324.00    16250.00
246089 279151.00   597899.00
246090    175.00       88.00

[242361 rows x 2 columns]

In [76]:
from sklearn.linear_model import LinearRegression

In [77]:
y = np.array(crops['Production'])

print(y)

[2.00000e+03 1.00000e+00 3.21000e+02 ... 1.62500e+04 5.97899e+05
 8.80000e+01]

In [78]:
x = np.array(crops['Area']).reshape((-1, 1))
print(x)

[[1.25400e+03]
 [2.00000e+00]
 [1.02000e+02]
 ...
 [3.24000e+02]
 [2.79151e+05]
 [1.75000e+02]]

In [79]:
train_x, test_x, train_y,test_y = train_test_split(x,y,test_size=0.3,random_state=42)

In [80]:
model = LinearRegression()

In [81]:
model.fit(train_x,train_y)

LinearRegression()

In [93]:
print(model.intercept_)
print(model.coef_)

421566.5024042662
[11.58826304]

In [95]:
y_pred = model.predict(test_x)
print(y_pred)

[484919.53642333 431184.76072434 421670.79677159 ... 423884.15501151
 432691.23491905 909084.72833839]

In [96]:
from sklearn import metrics
print(metrics.mean_absolute_error(test_y,y_pred))

1121707.916712476

In [98]:
print(np.sqrt(metrics.mean_squared_error(test_y,y_pred)))

18529629.51147644